<main class="flex-1 flex flex-col bg-white overflow-hidden channel"
  {{did-insert this.loadMessages}}
  {{did-update this.loadMessages @channel}}
>

  {{! an object like  "foo.messages" }}
  {{yield (hash
    messages=this.messages
  )}}

</main>